<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.ArticleDAO">
    <select id="queryByPage" resultType="Article">
    select * from article limit #{i}, #{rows}
</select>

    <update id="edit">
        update  article set status=#{status} where id=#{id}
    </update>
    <select id="selectRecords" resultType="Integer">
    select count(*) from article
</select>
<delete id="delete">
    delete from article where id=#{id}
</delete>

    <insert id="add">
        insert into article values(#{id},#{title},#{author},#{content},#{crea_date},#{guru_id},#{status})
    </insert>

    <update id="update">
        update article
        <set>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="author!=null">
                author=#{author},
            </if>
            <if test="content!=null">
                content=#{content},
            </if>
            <if test="crea_date!=null">
                crea_date=#{crea_date},
            </if>
            <if test="guru_id!=null">
                guru_id=#{guru_id},
            </if>
            <if test="status!=null">
                status=#{status}
            </if>
        </set>
        where id=#{id}
    </update>


</mapper>
